/****** Main Styling ******/

body {
	font-family: sans-serif;
	font-size: 16px;
	color: #222;
	background-color: white;
	text-align: left;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	padding-top: 160px;
}

ol {
	list-style-position: inside;
  padding-left:20px;
}
ul {
	list-style-type: none;
}

a {
	color: #2574A9;
}
body {
  padding-left:60px;
}
#file-upload {
  padding-top:50px;
  text-align:center;
}